.navbarColor{
    background-color: var(--code-sample-nav-bg-color);
    color: var(--code-sample-txt-color);
}

.iconContainer{
    margin-right: 2.13rem;
    cursor: pointer;
}

.selectLanguages {
    overflow-y: scroll;
    max-height: 225px;
}
