.title {
    margin: 1rem 0 1rem 0;
}

.card {
    background-color: #646A73;
    width: 98%;
    margin: auto;
}



.cardBody > div {
    margin-bottom: 1rem;
}

.cardBody > div:last-of-type{
    margin-bottom: 0;
}








