.searchBarColor {
  background-color: var(--code-sample-search-bar-bg-color);
}

.filterDropDown {
  max-height: 50vh;
  overflow-y: auto;
  min-width: 0;
}

.filterDropDown a {
  padding-left: .75rem;
  padding-right: .75rem;
}

.filterDropDown a > button{
  margin-right: 0 !important;
}

.borderRadius {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}


@media (max-width: 992px) {
  .searchBar {
    width: 90% !important;
  }
}