.tabsMenu{
    padding-left: 0;
    list-style: none;
    display: flex;
    border: 1px solid rgb(27, 27, 27);
    font-size: 1.2rem;
    margin-bottom: 0;
    line-height: 2.7rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #FCFBFA;
    overflow: hidden;
    overflow-x: auto;
}

.tabsLabel{
    cursor: pointer;
    display: block;
    padding: 0 18px 0 18px ;
}


.active{
    background-color: #E5E5E5;
    border-bottom: 5px solid var(--code-sample-badge-hover-color);
    color: var(--code-sample-badge-hover-color);
}

