.tag {
    background-color: var(--code-sample-tags-bg-color);
    color: white;
    border-radius: 5px;
    font-weight: normal;
}


.tags {
    width: 100%;
}

@media (max-width : 768px){
    .tags {
        width: 70%
    }
}