.topCategoryCard{
    background-color: var(--code-sample-topCat-bg-color);
}

.postLink:hover {
    color: var(--code-sample-badge-hover-color);
}

.borderBottomLight {
    border-bottom: 1px solid hsl(239, 10%, 60%)!important;
}
