.recentCards {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

@media (max-width : 800px){
    .recentCards {
        flex-flow: column;
        gap: 13px;
    }
}