.navbarColor{
    background-color: #2B2E32;
    color: #FFFEFE;
    
}

.iconContainer{
    margin-right: 2%;
}

@media (max-width: 767px)
 {
    .iconContainer{
        margin-right: 8%;
    }
    
}