.resultsDropDown {
  display: none;
  position: absolute;
  top: 85.8%;
  width: 554px;
  z-index: 1;
  max-height: 50vh;
  overflow-y: scroll;
}

.resultsDropDown ul {
  list-style: none;
}

.resultsDropDown li {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.resultsDropDownActive {
  display: block;
}

.borderRadius {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

@media (max-width: 1200px) {
  .resultsDropDown {
    width: 464px;
  }
}

@media (max-width: 992px) {
  .resultsDropDown {
    width: 344px;
  }
}

@media (max-width: 768px) {
  .searchBar {
    width: 90% !important;
    padding: 0 !important;
  }

  .resultsDropDown {
    width: 100%;
  }
}
