:root {
  --code-sample-bg-color: #3F4248;
  --code-sample-txt-color: #FFFEFE;
  --code-sample-nav-bg-color: #2B2E32;
  --code-sample-topCat-bg-color: #646a73;
  --code-sample-search-bar-bg-color: #2C5967;
  --code-sample-tags-bg-color: #2b6242;
  --code-sample-badge-hover-color: rgb(69, 135, 155);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--code-sample-bg-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.slug {
  background-color: var(--code-sample-bg-color);
}

.slug a{
  text-decoration: none;
}

h1, h2, h3, h4 {
  margin: 0 0 1rem 4.5% ;
  color: #f8f9fa !important;
}

.scroll::-webkit-scrollbar {
  width: 7px;
}

.scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb {
  background: var(--code-sample-search-bar-bg-color);
  border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb:hover {
    background: var(--code-sample-badge-hover-color);
    border-radius: 10px;
  }



